<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <h1><%= heading %></h1>
    <table id="info_table">
        <tr>
            <th>
                Info
            </th>
            <th>
                Your browser tells me
            </th>
        </tr>
        <% for (const [key, value] of Object.entries(discovered)) { %>
            <tr>
                <td>
                    <%= key %>
                </td>
                <td>
                    <%= value %>
                </td>
            </tr>
        <% } %>
    </table>
</body>
<!-- TODO -->
<script src="script.js"></script>
</html>